<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Title #}
    <title>
      CRUD -{% block title %}

      {% endblock %}
    </title>
    {# Title #}

    {# Styles #}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/styles.css')) }}" />
    {# Styles #}
  </head>

  <body>
    <main class="container">
      <div class="content">
        {# Contenido #}
        {% block body %}

        {% endblock %}
        {# Contenido #}
      </div>
    </main>

    <footer class="d-flex justify-content-center">
      <p>
        Desarrollado por <a href="https://github.com/Carlos-Mtzg">Carlos Mtzg</a>
        <i class="bi bi-github"></i>
      </p>
    </footer>

    {# JavaScript #}
    <script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js')) }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ absolute_url(asset('js/script.js')) }}"></script>
    {# JavaScript #}
  </body>
</html>
